<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bili.dao.UserDao">

    <resultMap id="UserMap" type="com.bili.bean.User">
        <id property="id" column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="phone" column="phone"></result>
    </resultMap>

    <select id="selectByIdAndName" resultType="com.bili.bean.User">
        select *
        from user
        where id = #{id} and username = #{username}
    </select>

    <insert id="register" parameterType="com.bili.bean.User">
        insert into user (id,username,password,phone)
        values (#{id},#{username},#{password},#{phone})
    </insert>

    <select id="selectByName" resultMap="UserMap">
        select *
        from user
        where username = #{username}
    </select>

    <select id="selectById" resultMap="UserMap">
        select *
        from user
        where id = #{id}
    </select>
</mapper>